OPENAI_API_KEY= "Enter your OpenAI API key here"
QURAN_CLIENT_ID= "Enter your Quran API client ID here"
QURAN_CLIENT_SECRET= "Enter your Quran API client secret here"
QURAN_ACCESS_TOKEN= "Enter your Quran API access token here"
HADITH_API_KEY= "Enter your Hadith API key here"
